@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Berras Bio</h1>
    <p>Welcome to Berras Bio, where we specialize in <a href="/Movies/AvailableMovies">dank movies</a>, for all your dank needs!</p>
</div>
